<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

    <property scope="context" name="log-pattern"
              value="${am.logback.pattern:-%date %highlight([%-4level]) [%-10.10thread] [%30.30logger]: %message%n%xException}"/>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/myproject.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${log-pattern}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log-pattern}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <!-- https://hibernate.atlassian.net/browse/HV-1323 -->
    <logger name="org.hibernate.validator.messageinterpolation.ParameterMessageInterpolator" level="ERROR"/>
    <logger name="org.hibernate.validator" level="ERROR"/>
    <!--<logger name="org.hibernate.type.descriptor.sql" level="TRACE" />
    <logger name="org.hibernate" level="debug"/>-->

    <root level="info">
        <springProfile name="dev">
            <appender-ref ref="STDOUT" />
        </springProfile>

        <springProfile name="qc">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="FILE"/>
        </springProfile>
    </root>

</configuration>
